<div id="chat-box-container">
  <% conversations.each do |conversation| %>
    <% if conversation.is_conversation %>
      <%= render 'chat_box/conversations/conversation', conversation: conversation, user: current_user %>
    <% else %>
      <%= render 'chat_box/conversations/group_conversation', group: conversation, user: current_user %>
    <% end %>
  <% end %>
  <div class="chat-box-list">
    <div class="panel panel-primary">
      <div class="panel-heading list-heading">
        <h3 class="panel-title"><%= option[:title] %></h3>
      </div>
      <div class="chat-box-group">
        <%= link_to "+ Group",chat_box.group_modal_conversations_path,remote: true, class: "chat-box-group-btn" %>
        <!-- <a class="chat-box-group-btn" href="">+ Group</a> -->
      </div>
      <div class="panel-body list-body">
        <ul id='chat_box_online_users'>
          <%= render partial: "chat_box/conversations/group", collection: groups, as: :group %>
          <%= render partial: "chat_box/user/user", collection: users, as: :user %>
        </ul>
      </div>
    </div>
  </div>
</div>
